body {
    /* more on crazy alphanumerical value in a minute!*/
    font-family: Helvetica, Arial, sans-serif;
}
header{
    color:#f5c827;
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    background-color: #45454d;
}
header h1 { 
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-shadow: 0 0 3px rgba(255,255,255, 0.5);
    text-align: center;
    display: center;
}
header a{
    color:#f5c827;
}
.contact-info h2, .projects h2,.about-me h2 {
    font-weight: bold;
    font-size: 28px ;
    color:#f5c827;
    text-align: left;
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding:50px;
    flex-wrap: wrap;
    margin-top: 0;


}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items:center;
    list-style:none;
    
}
 nav ul li a {
    padding: 50px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}
.project-cards{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:solid 10px #f5c827;
}
.contact-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items:center;
    list-style:none; 
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}
 li{
    padding: 50px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}
.about-me p{
    display:inline;
    padding-bottom: 50px;

}
.projects h3{
    font-weight: normal;
    font-size: 20px ;
    color:#f5c827;
    text-align: center;
}



    
